<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyndaleb.villages">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Villages"
        android:usesCleartextTraffic="true">
        <activity android:name=".BioLinkActivity"></activity>
        <activity android:name=".BioActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditWriteUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageProfilePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VillageHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProvinceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DuplicateVillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewVillageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrontPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>