<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyndaleb.villages">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Villages"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditLineActivity"></activity>
        <activity android:name=".EditListActivity" />
        <activity android:name=".VillageProfilePhotoActivity" />
        <activity android:name=".VillageHomeActivity" />
        <activity android:name=".CountryActivity" />
        <activity android:name=".ProvinceActivity" />
        <activity android:name=".DuplicateVillageActivity" />
        <activity android:name=".NewVillageActivity" />
        <activity android:name=".SendMessageActivity" />
        <activity android:name=".ForgotEmailActivity" />
        <activity android:name=".FrontPageActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>